footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 144px;
  gap: 64px;
  width: 1920px;
  height: 556px;
  /* Сапфировый/100 */
  background: #21385F;
  /* Золотой/100 */
  border-top: 1px solid #C4AD83;
  /* Inside auto layout */
  flex: none;
  order: 5;
  flex-grow: 0;
}

.footer-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 1276.88px;
  height: 317px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-content__logo{
  box-sizing: border-box;
  width: 265px;
  height: 293px;
  /* background: url(../img/Brand_logo.png); */
  /* Золотой/100 */
  border: 1px solid #C4AD83;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-content__contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 369px;
  height: 317px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-content__education{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 398.88px;
  height: 233px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.footer-content_menue{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 124px;
height: 269px;
/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}

.footer-content__contact-item{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 369px;
height: 46px;
flex: none;
order: 0;
flex-grow: 0;
font-family: 'Museo Sans 300 Light';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 144%;
color: #E9E9E9;
}

.footer-content__title{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 147px;
height: 35px;    
flex: none;
order: 0;
flex-grow: 0;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 35px;
color: #E9E9E9;
}

.footer-content__education-item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 398.88px;
  height: 82px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Museo Sans 300 Light';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 144%;
  color: #F8F6F2;
}

.footer-content__nav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 124px;
  height: 269px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.footer-content__menue-item{
  font-family: 'Museo Sans 300 Light';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 144%;
  /* identical to box height, or 23px */
  /* Сапфировый/10 */
  color: #E8EAEE;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 1632px;
  height: 47px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.copyright_item{
  width: 800px;
  height: 23px;
  /* body */
  font-family: 'Museo Sans 300 Light';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 144%;
  /* identical to box height, or 23px */
  /* Кобальтовый/70 */
  color: #697FA9;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}