.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.content {
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forum_400{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
}

.museo-sans_300{
  font-family: 'Museo Sans 300 Light';
  font-style: normal;
  font-weight: 300;
}

.link {
  text-decoration: none;
}

.link:visited{
  color: #686868;
}

.link:active{
  color: #686868;
}

.link_white {
  text-decoration: none;
}

.link_white:visited{
  color: #E9ECF2;}

.link_white:active{
  color: #E9ECF2;
}

.color_cobalt{
  color: #294985;}


.text_span span{
  text-align: center;
  color: #EDE6D9;
}

.font_size-24{
  font-size: 24px;
}

.font_height-26{
  line-height: 26px;
}

.font_size-24_height-26{
  font-size: 24px;
  line-height: 26px;
}

.font_size-32_height-35{
  font-size: 32px;
  line-height: 35px;
}

.font_size-16_height-144{
  font-size: 16px;
  line-height: 144%;
}

.button{
  /* Кобальтовый/100 */
  background: #294985;
  /* Золотой/100 */
  height: 39px;
  box-sizing: border-box;
/* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}